 Team: Code Brigade 1.0
 The requirements for running this is:
 1> PhpMyadmin
 2> Creating a database having name agriculture for data connectivity.
 3> Need Xampp for proper management of application which can be hosted locally as well as globally

